{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Book{% endblock %}
{% block content %}
<!-- <div id="loader"></div> -->
<div class = "buku" id = "myDiv">
    <h2>BOOK LIST</h2>
    <div class = "list-group">
        <table class = "kontenss" id = "konten">
        </table>
    </div>
    <p>Total of Favorites: <span id = "total">0</span></p>

    <h3>Another Collections: </h3>
    <span><button class = "change" name = "Quilting">Quilting</button></span>
    <span><button class = "change" name = "Cooking">Cooking</button></span>
    <span><button class = "change" name = "Art">Art</button></span>
    <span><button class = "change" name = "Sport">Sport</button></span>
</div>


<script>
    var myVar;
    function myFunction() {
        myVar = setTimeout(showPage, 1500);
    }

    function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";

    }
    
    var query = "quilting"

    
    $.ajax({
        url: "/booklistjson?q=" + query,
        success : function(result) {
            var htmlString = "<tr>";
            var kontenBuku = document.getElementById("konten");
            console.log("in ajax");
            for (item in result.items){
                var theThing = result.items[item].volumeInfo;
                htmlString += "<tr>";
                htmlString += "<td>";
                var id = result.items[item].id;
                htmlString += "<img class = 'favorite' src = '{% static '/pics/star.gif'%}' id = '" + id + "' onclick = 'addFav(id)'><br>"
                htmlString += "<h2>" + theThing.title + "</h2>" + "<br>";
                if (theThing.hasOwnProperty("subtitle")) {
                    htmlString += theThing.subtitle + "<br>";
                }
                htmlString += "Author : " + theThing.authors + "<br>";
                htmlString += theThing.publisher + "<br>";
                htmlString += theThing.publishedDate + "<br> <br>";
                htmlString += theThing.description;
                htmlString += "</td>";
                htmlString += "</tr>";
            }
            kontenBuku.innerHTML = htmlString;
        } 
    })

    function addFav(id){
        $.ajax({
            method: "GET",
            url: "/booklistjson?q=" + query,
            success: function(result){
                console.log(this.name);
                var data = result.items[item];
                count = document.getElementById('total').innerHTML;
                countFav = parseInt(count);
                console.log(id);
                for (item in result.items) {
                    var theThing = result.items[item]; 
                    var id2 = theThing.id;
                    console.log(id2);
                    if (id == id2) {
                        var img = document.getElementById(id);
                        if (img.src.match("{% static '/pics/star.gif'%}")) {
                            img.src = "{% static '/pics/starclosed.png'%}";
                            countFav++;
                        } else {
                            img.src = "{% static '/pics/star.gif'%}";
                            countFav--;
                        }
                    }
                }
                $('#total').replaceWith('<span id="total">' + countFav + '</span>');
                
            },
            error: function(error){
                console.log(this.name);
                alert("Books not found");
            }
        });
    }

    

    $('.favorite').on("click", addFav);
    $('.change').on("click", changeJson);

    function changeJson(){
        query = this.name;
        console.log("hello");
        $.ajax({
            url : "/booklistjson?q=" + query,
            success : function(result) {
                var htmlString = "<tr>";
                var kontenBuku = document.getElementById("konten");
                console.log("in ajax");
                for (item in result.items){
                    var theThing = result.items[item].volumeInfo;
                    htmlString += "<tr>";
                    htmlString += "<td>";
                    var id = result.items[item].id;
                    htmlString += "<img class = 'favorite' src = '{% static '/pics/star.gif'%}' id = '" + id + "' onclick = 'addFav(id)'><br>"
                    htmlString += "<h2>" + theThing.title + "</h2>" + "<br>";
                    if (theThing.hasOwnProperty("subtitle")) {
                        htmlString += theThing.subtitle + "<br>";
                    }
                    htmlString += "Author : " + theThing.authors + "<br>";
                    htmlString += theThing.publisher + "<br>";
                    htmlString += theThing.publishedDate + "<br> <br>";
                    htmlString += theThing.description;
                    htmlString += "</td>";
                    htmlString += "</tr>";
                }
                kontenBuku.innerHTML = htmlString;
                $('#total').replaceWith('<span id="total">' + '0' + '</span>');
            } 
        })
    }

    $(document).ready(function () {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    });


    
</script>

{% endblock %}