{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}My Status{% endblock %}
{% block content %}
    <section class = "formstatus" id = "myDiv">
        <div class="statusform">
            <div class="judul">
                <h1>Hello, apa kabar ?</h1>
            </div>
            <form id="form" method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                {{statusform}}
        
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </section>
    <section class = "result" id = "myDiv">
        <h2>STATUS LIST</h2>
        <div class = "containerrr">
            <div class = "hasil">
                {% for i in stat %}
                    <div class = flex-item>
                        <div class = statuss>
                            {{i.status_name}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        var myVar;
        function myFunction() {
            myVar = setTimeout(showPage, 1500);
        }

        function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";

        }
    </script>
        {% endblock %}