{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Angelina Condro's Profile{% endblock %}
{% block content %}



<div class = "cont" id = "myDiv">
    <div class = "profile">
        <img id = "photo" src = "{% static '/pics/angel.jpg' %}">
        <h4>Angelina Condro <br></h4>
        <h4>University of Indonesia Student</h4>
        <h4>Student of Computer Science</h4>
    </div>

    <section class="accordion">
        <div class="item">
             <img src="{% static '/pics/desc.png'%}" alt="">
             <h3 id = "desc">Description</h3>
        </div>
             <p>Hello reader ! My name is Angelina Condro, you can call me Angel. I am 18 years old. I was born
                 on March 28th 2000. Now I am studying at University of Indonesia since 2017 and majored in Information
                 System. I love singing, reading, dancing, and playing basketball.
                 My motto is "I'd rather die than live without any passion".
             </p>
         <div class="item">
             <img src="{% static '/pics/exp.png'%}" id="exp">
             <h3 id = "act">Activities and Experiences</h3>
        </div>
         <p>2015 - Staff Acara Fancy Fair SMA Katolik Rajawali <br>
            2017 - Staff Ticketing UIGTC <br>
            2017 - Staff Humas Natal KMK UI <br>
            2018 - Staff Acara BETIS <br>
            2018 - Staff Bazaar dan Konsumsi CGT <br>
            2018 - Staff Stage COMPFEST X <br>
            2018 - Staff Medis PMB Fasilkom UI
        </p>
         <div class="item">
             <img src="{% static '/pics/achieve.png'%}" alt="">
             <h3 id = "achieve">Achievement</h3>
        </div>
             <p>2016 - Juara 2 Olimpiade Sains Tingkat Kota Bidang Komputer <br>
                2017 - Juara 1 Sun's Public Speaking Competition <br>
                2017 - Juara 1 Vocal Group UIAW 2017
            </p>
               
    </section>


</div>

<script>
    (function ($) {
    'use strict';
    $('.item').on("click", function () {
        $(this).next().slideToggle(100);
        $('p').not($(this).next()).slideUp('fast');
    });
    }(jQuery));
    


    var myVar;

    function myFunction() {
        myVar = setTimeout(showPage, 1500);
    }

    function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("myDiv").style.display = "block";
    }

</script>



{% endblock %}