html{
	background-color: black;
	background-image: url("pics/bg.gif");
	width:100%;
	height: 100%;
	background-size: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.html2{
	background-color: black;
	background-image: url("pics/bg2.gif");
	background-size: 100%;
	width:100%;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body{
   color : rgba(255,255,255,1);
   font-family: 'Josefin Sans', serif;
   background-color: rgba(0, 0, 0, 0);
}
.flexhead{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
header{
	width : 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	margin-left: -8px;
    margin-top: -2%;
}

.flexhead h1{
	color: white;
	line-height: 40px;
	text-align: center;
	font-family: Cedarville Cursive;
	float: left;
    margin-top: 3vw;
    margin-left: 4%;
}


.nav{
	overflow: hidden;
	position: relative;
	width: 100%;
    float: right;

}
.nav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.nav a.active {
    background-color: #4CAF50;
    color: white;
}
.nav a:hover{
	background-color: #ddd;
  	color: black;
}

.nav .icon{
	display: none;
}

* {
    box-sizing: border-box;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 30%;
	height: 22%;
}

.cont{
	height: 700px;
	width: 80%;
	background-color: rgba(255,255,255,0.2);
	margin: 0 auto;
	position: relative;
	top: 50px;
	
}

.cont2{
	height: 700px;
	width: 80%;
	background-color: rgba(0,0,0,0.2);
	margin: 0 auto;
	position: relative;
	top: 50px;
	
}


.profile{
	color: black;
	position: relative;
	top: 100px;
	left: 30px;
	width: 30%;
	height: 700px;
	text-align: center;

}



#photo{
	height: 200px;
	width: 200px;
}

h4{
	position: relative;
	color: white;
	font-family: Delius Swash Caps;
	font-size: 15px;
	
}

.h4dua{
	position: relative;
	color: black;
	font-family: Delius Swash Caps;
	font-size: 15px;
	
}

.desc{
	margin-left: 40%;
	margin-top: -35%;

}

.change-theme-btn{
	margin-left: 35%;
	

}

@font-face {
	font-family: "JF Flat Regular";
	src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot');
	src: url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.woff') format('woff'), url('https://f9ir.github.io/acc/acc/font/JF-Flat-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  .accordion {
	margin: 50px auto;
	width: 400px;
	margin-left: 40%;
	background: #ccc;
	cursor: pointer;
	margin-top: -600px;
  }
  .accordion .item {
	height: 100px;
  }
  .accordion .item h3 {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	padding-left: 50px;
	font-family: "JF Flat Regular";
	font-size: 15px;
	font-weight: 400;
  }
  .accordion .item img {
	padding-left: 15px;
	width: 30px;
	vertical-align: middle;
  }
  .accordion .item h3:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
  }
  .accordion .item:first-of-type {
	background: #808080;
	color: white;
  }
  .accordion .item:nth-of-type(2) {
	background: white;
	color: black;
  }
  .accordion .item:nth-of-type(3) {
	background: #808080;
	color: white;
  }
  .accordion p {
	background: rgba(255, 255, 255, 1);
	color: black;
	font-family: "JF Flat Regular";
	font-size: 15px;
	font-weight: 400;
	padding: 15px;
	display: none;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
  }

  .accordion2 .item:first-of-type {
	background: white;
	color: black;
  }
  .accordion2 .item:nth-of-type(2) {
	background: #F08080;
	color: white;
  }
  .accordion2 .item:nth-of-type(3) {
	background: white;
	color: black;
  }
  .accordion2 p {
	background: rgba(255, 255, 255, 1);
	color: black;
	font-family: "JF Flat Regular";
	font-size: 15px;
	font-weight: 400;
	padding: 15px;
	display: none;
	box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
  }
  #loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid grey;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	}
	
	/* books css */

	.kontenss{
		color: white;
		height: 100%;
		font-family: Delius Swash Caps;
	}
	

	.buku{
		position: relative;
		text-align: center;
		top: 180px;
		font-size: 20px;
		font-family: Delius Swash Caps;
	}

	.buku2{
		position: relative;
		text-align: center;
		top: 180px;
		font-size: 20px;
		font-family: Delius Swash Caps;
		color: black;

	}

	.kontenss2{
		color: black;
		height: 100%;
		font-family: Delius Swash Caps;
	}

	.table2, .th2, .td2{
		border: 1px solid black;
		width: 70%;
		margin: 0 auto;
	}


	table, th, td {
		border: 1px solid white;
		width: 70%;
		margin: 0 auto;

	}

	.favorite{
		width: 50px;
		height: 50px;
		background-color: rgba(0, 0, 0, 0);
		border: 0px;
		background-size: 50px 50px;
	}



	.favorite:hover{
		background-color: rgba(255, 255, 255, 0.8);
	}

	/* LOGIN */

	.loginDiv{
		text-align: center;
	}

	.g-signin2{
		position: relative;
		left: 39%;
	}

	/* --PAGE SUBSCRIBE-- */


	/* .page-title{
		display: inline-block;
	}

	form{
		position: relative;
		left: 3%;
		margin-bottom: 12%;
	}
	form > .form-control{
		width: 50%;
		background-color: rgba(0,0,0,0);
		border: 0px;
		font-size: 20px;
		border-left: 3px solid white;

	} */

	.subscont{
		position: relative;
		top: 200px;
		left: 50px;
	}
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  #myDiv {
	position: relative;
	-webkit-animation-name: cont;
	-webkit-animation-duration: 3s;
	animation-name: cont;
	animation-duration: 3s
  }
  
  @-webkit-keyframes cont {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes cont{ 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
 


@media screen and (max-width: 800px){
	.flexhead h1{
		font-size: 30px;
		margin-left: 20px;
	}
	.profile{
		color: black;
		position: relative;
		top: 100px;
		left: 35%;
		right: 30%;
		width: 30%;
		height: 700px;
		text-align: center;
	}
	#photo{
		border-radius: 50%;
		height: 25vw;
		width: 25vw;
	}
	.accordion {
		width: 80%;
		position: relative;
		top: 380px;
		margin-left: 11%;
		background: #ccc;
		cursor: pointer;
	}
	.cont{
		height: 1120px;
		width: 80%;
		background-color: rgba(255,255,255,0.2);
		margin: 0 auto;
		position: relative;
		top: 50px;
		
	}
	
	.cont2{
		height: 1120px;
		width: 80%;
		background-color: rgba(0,0,0,0.2);
		margin: 0 auto;
		position: relative;
		top: 50px;
		
	}
}


.formstatus{
    position: relative;
    top:150px;
}

.formstatus2{
	position: relative;
    top:150px;
	color: black;
}
.statusform{
    position: relative;
    top: 60%;
    text-align: center;
}

form{
	font-size: 25px;
}

.judul{
    font-size: 30px;
    font-family: cursive;
    position: relative;
}

.result{
    text-align: center;
    margin-top: 20%;

} 

.result2{
	text-align: center;
    margin-top: 20%;
	color: black;
}

.hasil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -15px;
    

  }
  .flex-item{
    
    font-size: 20px;
    flex-basis: 25%;
  }

  
  


