<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" name="google-signin-client_id" content="556491463893-pjqaa5gftb2togkkf8t3vu3q8uai93pi.apps.googleusercontent.com">
        <title>Login Now</title>
        <link rel="stylesheet" type="text/css" href="../../lab_6/static/csslab.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cedarville+Cursive" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Delius+Swash+Caps" />
    </head>
    <body onload="myFunction()" style="margin:0;">
        <div id="loader"></div>
        {% csrf_token %}
        <br>
            <div class="loginDiv" id="myDiv">
                <h3>Please Login Here</h3>
                <div class="g-signin2" data-onsuccess="signIn" data-width="300" data-longtitle="true"></div>
            </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script>
            var myVar;
            function myFunction() {
                myVar = setTimeout(showPage, 1500);
            }

            function showPage() {
                document.getElementById("loader").style.display = "none";
                document.getElementById("myDiv").style.display = "block";

            }
            function signIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                sendToken(id_token);
                console.log("masuk")
            }
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
                });
            }

            var sendToken = function(token) {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                $.ajax({
                    method: "POST",
                    url: "/login",
                    headers:{
                        "X-CSRFToken": csrftoken
                    },
                    data: {id_token: token },
                    success: function(result) {
                        console.log("signed in");
                        if (result.status === "0") {
                            window.location.replace(result.url)
                        } else {
                            html = "<h3>Oops, error occured</h3>";
                            $("h3").replaceWith(html)
                        }
                    },
                    error: function (error) {
                        alert("Oops, error occured, please report")
                    }
                })
            };

        </script>
    </body>
</html>