{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Subscribe Me{% endblock %}
{% block content %}

<div class="subscont" id="myDiv">
    <h1>LIST OF SUBSCRIBER</h1>
    <br>
    {% csrf_token %}
    <table class = "subs" id = "subid">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Unsubscribe?</th>
        </tr>

    </table>
</div>

<script>
    var myVar;
    function myFunction() {
        myVar = setTimeout(showPage, 1500);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
    }
    show();
    function show(){
        console.log("masuk show");
        $.ajax({
            method: "GET",
            url: "{% url 'listsubjson' %}",
            type: "json",
            success: function(array){
                if(array.results.length === 0){
                    $('#subid td').remove();
                    alert("This website has no subscribers!");
                }
                $('#subid td').remove();
                for(var i = 0; i < array.results.length; i++){
                    tr = $('<tr/>');
                    tr.append("<td>" + array.results[i].email+ "</td>");
                    tr.append("<td>" + array.results[i].name + "</td>");
                    tr.append("<td><button id = 'delete'" +  'onClick="unsubscribe(\'' + array.results[i].email + '\')">'+ "Unsubscribe</button></td>")
                    $('#subid').append(tr);
                }
            },
            error: function(error){
                alert("An error has occured!")
            }
        });
    }

    function unsubscribe(value){
        console.log("hello");
        $.ajax({
            method: "POST",
            url: "{% url 'unsubscribe' %}",
            data : {
                email : value,
                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value
            },  
            success: function (array) {
                alert("User has successfully unsubscribed!");
                show();
            },
            error: function(error){
                alert("An error has occured!")
            }
        });
    }
    

</script>

{% endblock %}