{% extends 'layout/base.html' %}
{% load static %}
{% block judul %}Subscribe Me{% endblock %}
{% block content %}

<div class="subscont" id="myDiv">
    <h1>SUBSCRIBE NOW</h1>
    <br>
    <div class='error' id="error">
        <p></p>
    </div>
    <form id="form" method="POST" action="{% url 'webservice' %}">
        {% csrf_token %}
        {{form}}
        <br>
        <br>
        <h6>*This field is required</h6>
        <button type="submit" class="btn btn-default" id="btn-subs">SUBSCRIBE</button>
        <br>
    </form>
</div>

<script>
    var myVar;
    function myFunction() {
        myVar = setTimeout(showPage, 1500);
    }

    function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";

    }

    $(function () {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var email_available = false;
        var timer = 0;

        $('#email').keydown(function () {
            clearTimeout(timer);
            timer = setTimeout(checkValidEmail, 1000);
            warning();
            // checkValidEmail();
        });

        $('#name').keydown(function () {
            clearTimeout(timer);
            timer = setTimeout(warning, 1000);
            warning();
        })

        $('#password').keydown(function () {
            clearTimeout(timer);
            timer = setTimeout(warning, 1000);
            warning();
        })

        $('#form').on('submit', function (event) {
            event.preventDefault();
            console.log('Submitted');
            saveData();
        });

        function saveData() {
            $.ajax({
                method: 'POST',
                url: "{% url 'posting' %}",
                headers:{
                    "X-CSRFToken" : csrftoken
                },
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                },
                success: function (response) {

                    if (response.is_success) {
                        $('#name').val('');
                        $('#email').val('');
                        $('#password').val('');
                        $('#btn-subs').prop('disabled', true);
                        $('.error p').replaceWith("<p class='success'> Thank you for subscribing! </p>");
                    } else {
                        $('.error p').replaceWith("<p class = 'fail'>Oops! Something is wrong! </p>");
                    }
                },
                error: function () {
                    alert("Error occured! Cannot subscribe");
                }
            })
        }

        function checkValidEmail() {
            var reg = /^([a-zA-Z0-9_.+-])+@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var is_valid = reg.test($('#email').val());
            if (is_valid) {
            // if ($('#email')[0].checkValidity()) {
                validateEmail();
            } else {
                $('.error p').replaceWith("<p class='fail' id='fail'>Please enter a valid email format!</p>");
            }
        }

        function validateEmail() {
            $.ajax({
                method: 'POST',
                url: "{% url 'validate_email' %}",
                headers: {
                    "X-CSRFToken": csrftoken,
                },
                data: {
                    email: $('#email').val(),
                },
                success: function (email) {
                    console.log('validated:' + $('#email').val());
                    if (email['is_exist']) {
                        email_available = false;
                        document.getElementById("fail").innerHTML = "<p class='fail' id='fail'>The email has been taken. Please use another email</p>" 
                        $('.error p').replaceWith("<p class='fail' id='fail'>The email has been taken. Please use another email</p>");
                    } else {
                        email_available = true;
                        $('.error p').replaceWith("<p> </p>");
                        warning();
                    }
                },
                error: function () {
                    alert("Error, cannot validate email!")
                }
            })
        }

        function warning() {
            var password = $('#password').val();
            var name = $('#name').val();
            var email = $('#email').val();
            if ((password.length > 6 && password.length < 12) && name.length !== 0 && email_available) {
                $('.error p').replaceWith("<p class='fail'></p>");
                $('#btn-subs').prop('disabled', false);
            } else if (password.length === 0 && name.length === 0) {
                $('#btn-subs').prop('disabled', true);
                $('.error p').replaceWith("<p class='fail' id='fail'>Name and password cannot be empty</p>");
            } else if (password.length === 0 && email.length === 0) {
                $('#btn-subs').prop('disabled', true);
                $('.error p').replaceWith("<p class='fail' id='fail'>Email and password cannot be empty</p>");
            } else if (name.length === 0 && email.length === 0) {
                $('#btn-subs').prop('disabled', true);
                $('.error p').replaceWith("<p class='fail' id='fail'>Name and email cannot be empty</p>");
            } else if (password.length === 0) {
                $('#btn-subs').prop('disabled', true);
                $('.error p').replaceWith("<p class='fail' id='fail'>Password cannot be empty</p>");
            } else if (password.length < 6 || password.length > 12) {
                $('#btn-subs').prop('disabled', true);
                console.log("pass kurang"); 
                $('.error p').replaceWith("<p class='fail' id='fail'>Password must contain 6-12 characters</p>");
            } else if (name.length === 0) {
                $('#btn-subs').prop('disabled', true);
                console.log("nama kosong");
                $('.error p').replaceWith("<p class='fail' id='fail'>Name cannot be empty</p>");
            } else{
                $('#btn-subs').prop('disabled', true);
                $('.error p').replaceWith("<p class='fail' id='fail'>Please enter a valid email format!</p>");
            }
        }
    });
</script>
{% endblock %}