<div class = "flexhead">
    <h1>Gabriela Angelina</h1>
    <div class = "nav" id="myNavbar">
        <ul>
            <a href = "labbb">HOME</a>
            <a href = "myprofile">MY PROFILE</a>
            <a href = "books"> BOOKLIST </a>
            <a href = "webservice">SUBSCRIBE</a>
            <a href = "listofsubscriber">LIST OF SUBSCRIBER</a>
        </ul>
        <button class="change-theme-btn">Change Theme</button> 
    </div>
</div>

<script>
    $(".change-theme-btn").click(function(){
        $(".accordion").toggleClass("accordion2");
        $("html").toggleClass("html2");
        $("h4").toggleClass("h4dua");
        $(".cont").toggleClass("cont2");
        $(".formstatus").toggleClass("formstatus2");
        $(".result").toggleClass("result2");
        $(".kontenss").toggleClass("kontenss2");
        $(".buku").toggleClass("buku2");
        $("table").toggleClass("table2");
        $("th").toggleClass("th2");
        $("td").toggleClass("td2");
    });
</script>